<?xml version="1.0" encoding="UTF-8"?>
<web-app id="IntegrationTestServer"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
         
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.netflix.msl.server.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NullServlet</servlet-name>
        <servlet-class>com.netflix.msl.server.servlet.NullServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NullServlet</servlet-name>
        <url-pattern>/null</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>com.netflix.msl.server.servlet.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>com.netflix.msl.server.servlet.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SecretPushServlet</servlet-name>
        <servlet-class>com.netflix.msl.server.servlet.SecretPushServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecretPushServlet</servlet-name>
        <url-pattern>/secret-push</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PublicPushServlet</servlet-name>
        <servlet-class>com.netflix.msl.server.servlet.PublicPushServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublicPushServlet</servlet-name>
        <url-pattern>/public-push</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MultiPushServlet</servlet-name>
        <servlet-class>com.netflix.msl.server.servlet.MultiPushServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MultiPushServlet</servlet-name>
        <url-pattern>/multi-push</url-pattern>
    </servlet-mapping>
</web-app>
